<div class="container row home-main">
  <div class="col-12 col-md-6 home-container">
    <h2>Sprockets</h2>
    <p>The #1 bicycle tracking application</p>
      <button class="btn" href="/auth/login" *ngIf="!user">Login</button>
      <button class="btn" href="/auth/login" *ngIf="!user">Create an account</button>
      <button class="btn" href="/races" *ngIf="user">Get started</button>
  </div>
  <div class="col-12 col-md-6 home-container">
    <img src="../../assets/multi_bike_graphic.svg" class="home-img"/>
  </div>
</div>